body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  overflow: hidden;
}

table {
  margin-left: 20px
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

#holdings {
  height: 100vh;
  overflow: auto;
}

#closedOrders {
  height: 100vh;
  overflow: scroll;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tableWrapper {
  height: calc(100vh - 155px);
  overflow-y: scroll;
}

#mainApp {
  height: 40px;
}

#appWrapper {
  height: 100vh;
  overflow: hidden;
}

.doubleTableWrap {
  overflow-x: auto;
  width: auto;
}

th, td {
  min-width: 110px;
  max-width: 140px;
  padding: 4px 1px;
  text-overflow: ellipsis;
}

th.active {
  color: #fff;
}
a {
  cursor: pointer;
}
th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 3px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

#holdings,
#closedOrders {
  padding: 0 20px;
}

#timePeriodDropdown {
  width: 100px;
}

#filterZone {
  margin: 10px 0;
}

#gridWrap {
  padding-left: 10px;
}


.profitNum {
  width: 60px;
}

.sellNum {
  width: 120px;
}

.meta {
 font-size: 22px;
 font-weight: 700;
 color: green;
}

.half-table {
  width: 50%;
}
