body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  overflow: hidden;
  width: 100vw;
}

table thead {
  position: sticky;
}

.table-body {
  overflow: auto;
  width: 100%;
  position: relative;
}

#holdings {
  height: 100vh;
  overflow: auto;
}

#closedOrders {
  height: 100vh;
  overflow: scroll;
}

#topHeader {
  padding-bottom: 0;
  margin-bottom: 0;
}

#tab-body {
  height: calc(100vh - 115px);
  overflow-y: scroll;
  text-overflow: ellipsis;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}

table {
  padding-bottom: 0;
  margin-top:0;
  padding-top: 0;
}

#mainApp {
  height: 30px;
}

#appWrapper {
  height: 100vh;
  overflow: hidden;
}

#holdings,
#closedOrders {
  padding: 0 20px;
}

#timePeriodDropdown {
  width: 100px;
}

#filterZone {
  margin: 10px 0;
}

#gridWrap {
  padding-left: 10px;
}

.profitNum {
  width: 60px;
}

.sellNum {
  width: 120px;
}


.half-table {
  width: 50%;
}
